[submodule "sandbox-ui"]
    path = sandbox-ui
    url = https://github.com/mofahsan/sandbox-ui
[submodule "buyer-mock-engine"]
    path = buyer-mock-engine
    url = https://github.com/ONDC-Official/buyer-mock-engine
[submodule "seller-mock-engine"]
    path = seller-mock-engine
    url = https://github.com/ONDC-Official/seller-mock-engine
[submodule "protocol-server-engine"]
	path = protocol-server-engine
	url = https://github.com/ONDC-Official/protocol-server-engine
[submodule "buyer-mock-config"]
	path = buyer-mock-config
	url = https://github.com/ONDC-Official/buyer-mock-config
[submodule "seller-mock-config"]
	path = seller-mock-config
	url = https://github.com/ONDC-Official/seller-mock-config
[submodule "protocol-server-config"]
	path = protocol-server-config
	url = https://github.com/ONDC-Official/protocol-server-config